<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ana Sayfa | Ana Sayfa</title>
    <link rel="stylesheet" href="/assets/css/temp.css">
    <link rel="stylesheet" href="/assets/css/glass-table.css">
    <link rel="stylesheet" href="/assets/css/variables.css">
    <link rel="stylesheet" href="/assets/css/background.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>
<body>
    <div class="container">
      <div class="background"></div>
        <aside class="sidebar">
            <div class="logo">
                <i class="fab fa-apple"></i>
            </div>
            <nav class="menu" id="sidebar">

            </nav>
            <div class="profile">
                <div class="avatar">
                    <img src="https://images.unsplash.com/photo-1535713875002-d1d0cf377fde?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=100&q=80" alt="Profile">
                </div>
                <div class="user-info">
                    <h3>---Kullanıcı adı---</h3>
                    <p>---Rol---</p>
                </div>
            </div>
        </aside>
        <main class="content">
            <header>
                <h1>Tekrar Hoşgeldin, <span id="girisYapanKullanici">e_ad_soyad</span></h1>
                <p>Check out your project statistics for today</p>
            </header>
            <div class="card-container">
                <div class="card">
                    <div class="card-icon">
                        <i class="fas fa-check-circle"></i>
                    </div>
                    <div class="card-info">
                        <h3>12</h3>
                        <p>Completed Tasks</p>
                    </div>
                </div>

                <div class="card">
                    <div class="card-icon">
                        <i class="fas fa-clock"></i>
                    </div>
                    <div class="card-info">
                        <h3>5</h3>
                        <p>Pending Tasks</p>
                    </div>
                </div>

                <div class="card">
                    <div class="card-icon">
                        <i class="fas fa-users"></i>
                    </div>
                    <div class="card-info">
                        <h3>7</h3>
                        
                    </div>
                </div>

            </div>
            <div class="card-container">
                <div class="card">
                    <div class="card-info w-100">
                        <h3>Proje Listesi</h3>
                        <hr class="hr-cam" />
                      <table class="glass-table">
                        <thead>
                            <tr>
                              <th>Proje Adı</th>
                              <th>Proje Türü</th>
                              <th>Başlangıç Tarihi</th>
                              <th>Bitiş Tarihi</th>
                            </tr>
                        </thead>
                        <tbody id="projeTableBody">
                        </tbody>
                      </table>                          
                    </div>
                </div>

                <div class="card">
                   <div class="card-info w-100">
                      <h3>Kullanıcı Listesi</h3>
                      <hr class="hr-cam" />
                      <table class="glass-table">
                        <thead>
                            <tr>
                              <th>Kullanıcı Adı</th>
                              <th>Ad Soyad</th>
                              <th>Mail</th>
                            </tr>
                        </thead>
                        <tbody id="userTableBody">
                        </tbody>
                      </table>
                    </div>
                </div>
            </div>
        </main>
    </div>
    <script src="/assets/js/temp.js"></script>
    <script src="/pages/sidebar/router.js"></script>
    <script src="/pages/anasayfa/anasayfa.js"></script>
</body>
</html> 