<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Syne:wght@400..800&display=swap" rel="stylesheet">
</head>
<body>
      <nav class="menu">
        <ul>
            <label for="">Ana Sayfa</label>
            <hr>
            <li onclick="anasayfa()">
                <a>
                    <i class="fas fa-home"></i>
                    <span>Ana Sayfa</span>
                </a>
            </li>
            <label for="">Tanımlar</label>
            <hr>
            <li onclick="kullaniciTanimlari()">
                <a>
                    <i class="fas fa-user"></i>
                    <span>Kullanıcı Tanımları</span>
                </a>
            </li>
            <li onclick="projeTanimlari()">
                <a href="#">
                    <i class="fas fa-chart-simple"></i>
                    <span>Proje Tanımları</span>
                </a>
            </li>
            <label for="">Ayarlar</label>
            <hr>
            <li>
                <a href="#">
                    <i class="fas fa-message"></i>
                    <span>Mesajlar ve Gruplar</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fas fa-folder"></i>
                    <span>Dosyalar</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fas fa-bookmark"></i>
                    <span>Yer İşaretleri</span>
                </a>
            </li>
            <label for="">Sosyal</label>
            <hr>
            <li>
                <a href="#">
                    <i class="fas fa-message"></i>
                    <span>Mesajlar ve Gruplar</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fas fa-folder"></i>
                    <span>Dosyalar</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fas fa-bookmark"></i>
                    <span>Yer İşaretleri</span>
                </a>
            </li>
        </ul>
    </nav>
    <script src="/assets/js/router.js"></script>
</body>
</html>