<!DOCTYPE html>
<html lang="tr">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/assets/css/background.css"/>
  <link rel="stylesheet" href="/assets/css/variables.css"/>
  <link rel="stylesheet" href="/assets/css/login.css"/>
  <title>Sandbox Login</title>
  <!-- Font -->
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap" rel="stylesheet">
</head>
<body>

	<div class="background"></div>
	<div class="w-100 d-flex flex-row h-100vh">
		<div class="w-40 h-100 bg-red">
  			<div class="login-wrapper d-flex item-center justify-center flex-col h-100">
				  <div class="w-100 d-flex h-100 flex-col">
					
            <div class="h-25 w-100 d-flex flex-col items-center justify-center">
						<div class="login-header">
						  <h1>Panel</h1>
						  <p>Hesabına giriş yap</p>
						</div>
					</div>

					<div class="h-65 w-100 d-flex flex-col items-center justify-center">
						<div class="form-group w-100">
						  <label>Kullanıcı Adı</label>
						  <input type="text" id="username" placeholder="Kullanıcı Adı" />
						</div>
				  
						<div class="form-group w-100">
						  <label>Şifre</label>
						  <input type="password" id="password" placeholder="••••••••" />
						</div>

						<div class="form-group w-30">
              <button class="login-btn" onclick="login()">Giriş Yap</button>
						</div>
				  
					</div>
					<div class="h-10 w-100 d-flex flex-row items-end justify-center">
						<div class="login-footer">
						  © 2025 Softinq Software · <span>Destek</span>
						</div>
					</div>
				</div>
		  
  			</div>
		</div>
		<div class="w-50">

		</div>
	</div>


</body>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/app/template/login/login.js"></script>
</html>
