* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100vw;
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 0.02em;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  background-image: url('http://bit.ly/2gPLxZ4');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: top;
  color: white;
  overflow: hidden;
}

.blurred-box {
  position: absolute;
  top: 50%;
  left: 50%;
  /* width: 250px; */
  height: 750px;
  transform: translate(-50%, -50%);
  background: inherit;
  border-radius: 8px;
  overflow: hidden;
  z-index: 0;
}

.blurred-box::after {
  content: '';
  position: absolute;
  top: -25px;
  left: -25px;
  width: 300px;
  height: 300px;
  background: inherit;
  box-shadow: inset 0 0 0 200px rgba(255, 255, 255, 0.05);
  filter: blur(10px);
  z-index: -1;
  border-radius: 8px;
}

/* Form */
.user-login-box {
  position: relative;
  margin-top: 50px;
  text-align: center;
  z-index: 1;
}

.user-login-box > * {
  display: inline-block;
  width: 200px;
}

.user-icon {
  width: 100px;
  height: 100px;
  margin: 0 auto;
  border-radius: 50%;
  background-image: url('https://pbs.twimg.com/profile_images/725321660484583424/ArQ4fM3k.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.user-name {
  margin: 15px 0;
  color: white;
  font-weight: 600;
  font-size: 1.2rem;
}

input.user-password {
  height: 30px;
  opacity: 0.6;
  border-radius: 4px;
  padding: 5px 15px;
  border: none;
  font-size: 1rem;
  /* transition: opacity 0.3s ease; */
}

input.user-password:focus {
  opacity: 1;
  outline: none;
  box-shadow: 0 0 8px var(--primary-color, #06c);
}
